
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->

					<h2>Welcome to my website</h2>
			
					<p> This is a sample HTML page used to demonstrate HTML5 principles and techniques. We are using Express JS. 
						Express is a node js web application framework that provides broad features for 
						building web and mobile applications. It is used to build a single page, multipage, 
						and hybrid web application. It's a layer built on the top of the Node js that
						 helps manage servers and routes.</p>

					<h3> Site Contents</h3>

					<p>This site consists of 3 static views (
						<a class="overview-links" href="/">Home</a>,
						<a class="overview-links" href="/about">About</a>,
						<a class="overview-links" href="/htmlDemo">HTML Demo</a>) 
						as well as 5 routes that supply data , including: 
						<a class="overview-links" href="/students">All Students</a>,
						<a class="overview-links" href="/studentCourse/3">Students by Course</a>,
						<a class="overview-links" href="/studentNum/2">A Single Student By Student Number</a
						>, <a class="overview-links" href="/tas">All Managers</a> and
						<a class="overview-links" href="/courses">All Courses</a> </p>
					
					<h3>Site Information</h3>

					<p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
						HTML stands for Hyper Text Markup Language. HTML describes the structure of a Web page and contains different elemnts.
						These elements tells browser on how to display the contents.
					</p>
					
					<!-- End your code here  -->

				</main>
			</div>