
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->

					<h2>HTML Tables</h2>
					<div class="table1">
				
					<table>
						
						<thead>

							<tr>
						  		<th>AND operator</th>
						  		<th>A</th>
						  		<th>B</th>
						  		<th>Output</th>
							</tr>
						</thead>
						<tbody>
							<tr>
						  		<td>Condition 1</td>
						  		<td>True</td>
						  		<td>False</td>
						  		<td>False</td>
							</tr>
							<tr>
								<td>Condition 2</td>
								<td>False</td>
								<td>True</td>
								<td>False</td>
							</tr>
							<tr>
								<td>Condition 3</td>
								<td>False</td>
								<td>False</td>
								<td>False</td>
							</tr>				
						  	<tr>
								<td>Condition 4</td>
								<td>True</td>
								<td>True</td>
								<td>True</td>
							</tr>
						</tbody>
					</table>
					</div>
					

					<table>
						<thead>

							<tr>
						  		<th>OR operator</th>
						  		<th>A</th>
						  		<th>B</th>
						  		<th>Output</th>
							</tr>
						</thead>
						<tbody>
							<tr>
						  		<td>Condition 1</td>
						  		<td>True</td>
						  		<td>False</td>
						  		<td>True</td>
							</tr>
							<tr>
								<td>Condition 2</td>
								<td>False</td>
								<td>True</td>
								<td>True</td>
							</tr>
							<tr>
								<td>Condition 3</td>
								<td>False</td>
								<td>False</td>
								<td>False</td>
							</tr>
						  	<tr>
								<td>Condition 4</td>
								<td>True</td>
								<td>True</td>
								<td>True</td>
							</tr>
						</tbody>
					</table>
					
					<p><br>Above two are tables in HTML and are about the logical AND and OR operations.</p>
					
					<h2>Lists of drinks in a shop</h2>
					
					<ol>
						<li>Coffee</li>
							<ul>
						  <li>Original Blend</li>
						  <li>Dark Roast</li>
						  <li>Decaf</li>
						  </ul>
						<li>Tea</li>
						<li>Milk</li>
						<li>Orange Juice</li>
						<li>Mineral Water</li>
					</ol>

					<p><br>Above is a html list with ordered and unordered elements. It has details of various drinks in a shop.</p>

					<h2>Images</h2>
					<h6>Snowboarder_in_halfpipe</h6>
					<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="Snowboarder_in_halfpipe" width="300" height="400">
					<h6><br>Ancient Catedral</h6>
					<img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Oviedo_-_Catedral%2C_claustro_21.jpg" alt="Catedral" width="300" height="400">
					<h6><br>River</h6>
					<img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Emerald_Pools_Trail%2C_Sunset_on_Virgin_River_4-29-14_%2814179697074%29.jpg" alt="River" width="300" height="400"><br>
					
					<p><br>The above section has images. Three random images are included in webpage using html image tags.</p>

					<h2>Audio</h2>

					<audio controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						
						
					  Your browser does not support the audio element.
					</audio>
					
					<p><br>This section contains audio using html audio tag</p>

					<h2>Video</h2>

					<video width="420" height="250" controls>
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
						<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
						Your browser does not support the video tag.
					</video>
					
					<p><br>This section contains video files using HTML video tags.</p>
					
					<!-- End your code here  -->



				</main>
			</div>
		